/* HEADER */
.header {
    background:#ffffff;
    padding:12px 0;
    width: 100%;
}
  
/* LOGO FIX */
.logo-box {
background:#ffffff;            /* controlled white area */
padding:6px 14px;
border-radius:6px;
display:flex;
align-items:center;
}

.logo-box img {
    width:30%;
    height: auto;
    object-fit:contain;
}

.header-flex {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 0 4%;
}
nav a { 
    color: #000203;
    margin:0 20px;
    font-weight: bold;
    text-decoration:none;
}